<div class="about-container">
  <h1>About</h1>
  <div class="about-content">
    <p>
      <strong>
        Welcome to our Web Application Showcase!
      </strong>
    </p>
    <p>
      This app serves as a demonstration of creating a modern web application
      that retrieves and displays data from a third-party API.
    </p>
    <p>
      Whether you are a developer exploring Angular or a curious user, this
      application highlights the integration of Angular with HTTP services.
    </p>
    <hr />
  </div>
</div>
