<div class="about-container" [@fadeIn]>
  <h1>About This Website</h1>
  <div class="about-content">
    <p>
      <strong>
        Welcome to my Web Application!
      </strong>
    </p>
    <p>
      Explore the features of our modern web application designed to showcase the seamless integration of Angular with third-party APIs.
    </p>
    <p>
      Whether you're a developer diving into Angular or a curious user, our application highlights the power and versatility of Angular in handling HTTP services.
    </p>
    <hr class="custom-hr" />
  </div>
  <div class="weather-container" *ngIf="weather">
    <h2>Current Weather in {{ weather.name }}</h2>
    <p>Temperature: {{ weather.main.temp }} °F</p>
    <p>Weather: {{ weather.weather[0].description }}</p>
  </div>
</div>

